<div class="container__big-card">
  <div class="big-card__pic">
    <img
      src="https://miro.medium.com/max/1400/1*P7x-_0XfQz6CVmMY_QAv0w.png"
      alt=""
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="https://angular.io/">Nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p> O Angular 9 foi lançado em 6 de fevereiro de 2020. A versão 9 move todos os aplicativos para usar o compilador Angular Ivy por padrão. O Angular foi atualizado para funcionar com TypeScript 3.6 e 3.7. </p>
  </div>
</div>
