.container__small-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 600px;
  height: 100px;
}

.small-card__description > h1 {
  font-size: 20px;
  text-align: justify;
  color: rgb(255, 255, 255);
  margin: 20px;
}

.small-card__pic > img {
  width: 200px;

}
