.container__small-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  width: 640px;
  height: 132px;
}

.small-card__description > h1 {
  font-size: 20px;
  text-align: justify;
  color: rgb(255, 255, 255);
  margin: 20px;
}

.small-card__pic > a > img {
  width: 250px;
}

.small-card__pic > a > img:hover {
  width: 260px;

}
