<div class="container__menu-bar">
  <ul>
    <li class="button"><a [routerLink]="['']"> GEEK BLOG </a></li>
    <li class="button" ><a  href="https://www.linkedin.com/in/maxwellgomesneves/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
    <li class="button"><a href="https://github.com/MaxwellNeves" target="_blank" rel="noopener noreferrer">Github</a></li>
    <li class="button"><a href="https://wa.me/5521999157293" target="_blank" rel="noopener noreferrer">Whatsapp</a></li>
  </ul>
</div>
